header{
    text-align: center;
}
*{
    background-color: transparent;
}
.after{
    border: solid rgb(223, 210, 210);
    background-color: black;
    
}
#title{
    display: inline-block;
    font-size: x-large;
    text-decoration: none;
    /* border: solid rgb(226, 213, 213); */
    margin-right: 700px;
    a{
        text-decoration: none;
        color: red;
    }

}
.home{
    display: inline-block;
    text-decoration: none;
    
    a{
        margin-right: 50px;
        text-decoration: none;
        font-size: larger;
    }
}

.top{
    border: solid;
    display: flex;
    flex-direction: row;
}
.caution{
    position: relative;
    /* border: solid black 2px; */
    display: inline-block;
    color: aliceblue;
    background-color: black;
    font-size: x-large;
}
.warning{
    padding-top: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21.8px;
    /* display: inline; */
    position: static;
    color: azure;
    background-color: rgb(170, 16, 16);
}
#heading{
    font-size: x-large;
    margin-top: 100px;
    /* border: solid; */
    width: 450px;
}
.h4{
    margin-top: 60px;
    /* border: solid; */
    width: 550px;
    margin-bottom: 60px;
}
button{
    border: solid black;
    border-radius: 10%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    cursor: pointer;
}
button:hover{
    transition: 150ms;
    border-radius: 30%;
    background-color: antiquewhite; 
}
